@use '../base/colors';

.card {
  font-size: 18px;
  max-width: 900px;
  min-width: 425px;
  border-radius: 16px;
  -moz-border-radius: 16px;
  z-index: 2;

  @media(max-width: 500px) {
    min-width: 325px;
    max-width: 350px;
  }

  background-color: #fff;

  .card-full-name, .card-stat-quantity {
    color: colors.$clr-primary-600;
    font-weight: 700;
  }

  .card-location, .card-age, .card-stat-unit {
    color: colors.$clr-primary-700;
  }

  .card-graphic-header {
    height: 10em;
    width: 100%;
    background-image: url('../images/bg-pattern-card.svg');
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .card-profile-picture {
    position: absolute;
    top: -65px;
    border-radius: 100%;
    width: 130px;
    border: 6px white solid;
  }

  .card-identification-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5.25em 0 1.25em 0;
    border-bottom: 1px transparentize(colors.$clr-neutral-500, 0.5) solid;

    .card-location {
      font-size: 16px
    }
  }

  .card-details-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 0;

    .card-detail-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .card-stat-unit {
      letter-spacing: 1px;
      font-size: 14px;
    }

    .card-detail-item-edge {
      flex-grow: 1;
      flex-basis: 0;
    }
  }
}
