@import url(https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700);
.container {
  background-color: #19a2ae;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container:before {
  content: "";
  position: absolute;
  z-index: 1;
  display: inline;
  top: -25%;
  left: -25%;
  height: 100vh;
  width: 100vw;
  background: url("../images/bg-pattern-top.svg") no-repeat;
  background-size: contain;
}

/*
  Source: https://piccalil.li/blog/a-modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-weight: normal;
}

.card {
  font-size: 18px;
  max-width: 800px;
  min-width: 400px;
  border-radius: 16px;
  -moz-border-radius: 16px;
  z-index: 2;
  background-color: #fff;
}
@media (max-width: 375px) {
  .card {
    max-width: 325px;
  }
}
.card .card-full-name, .card .card-stat-quantity {
  color: #2d3248;
  font-weight: 700;
}
.card .card-location, .card .card-age, .card .card-stat-unit {
  color: #6a6f81;
}
.card .card-graphic-header {
  height: 10em;
  width: 100%;
  background-image: url("../images/bg-pattern-card.svg");
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.card .card-profile-picture {
  position: absolute;
  top: -55px;
  border-radius: 100%;
  width: 110px;
  border: 6px white solid;
}
.card .card-identification-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4em 0 1em 0;
  border-bottom: 1px rgba(150, 150, 150, 0.5) solid;
}
.card .card-identification-header .card-location {
  font-size: 16px;
}
.card .card-details-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em 0;
}
.card .card-details-footer .card-detail-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .card-details-footer .card-stat-unit {
  letter-spacing: 1px;
  font-size: 14px;
}
.card .card-details-footer .card-detail-item-edge {
  flex-grow: 1;
  flex-basis: 0;
}

/*# sourceMappingURL=main.css.map */
